* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 4px dotted #d80505;
  border-radius: 8px;
}
