.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 16px;

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
  }

  .header {
    background-color: #1b1b1b;
    padding: 16px 32px;

    ul.nav {
      display: flex;
      gap: 16px;
      list-style: none;

      li {
        a {
          text-transform: uppercase;
          color: #ffffff;
          font-size: 16px;
          text-decoration: none;

          &:hover {
            color: #d8d9da;
          }
        }
      }
    }
  }
}
